*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: Oswald;
    box-sizing: border-box; 
    /*esto asegura que el relleno y el borde estÃ¡n incluidos en el ancho total y la altura de los elementos*/
}

html, body {
  background-color: white;
}


.trans{
  border: none;
  font-size: 0;
  position: relative;
  margin-top: 20px;
  margin-left: 500px;
}


#trans11AA,#trans22AA,#trans33AA,
#trans11BB,#trans22BB,#trans33BB,
#trans11CC,#trans22CC,#trans33CC{
  position: absolute;
}

#piezas11AA,#piezas22AA,#piezas33AA,
#piezas11BB,#piezas22BB,#piezas33BB,
#piezas11CC,#piezas22CC,#piezas33CC{
  position: absolute;
  display: flex;
  justify-content: 
}

#trans11AA{
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
}


#trans22AA{
  top: 0px;
  left: 100px;
  width: 100px;
  height: 100px;
}

#trans33AA{
  top: 0px;
  left: 200px;
  width: 100px;
  height: 100px;
}

#trans11BB{
  top: 100px;
  left: 0px;
  width: 100px;
  height: 100px;
}

#trans22BB{
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
}

#trans33BB{
  top: 100px;
  left: 200px;
  width: 100px;
  height: 100px;
}

#trans11CC{
  top: 200px;
  left: 0px;
  width: 100px;
  height: 100px;
}

#trans22CC{
  top: 200px;
  left: 100px;
  width: 100px;
  height: 100px;
}

#trans33CC{
  top: 200px;
  left: 200px;
  width: 100px;
  height: 100px;
}


#piezas33CC{
  top: 400px;
  left: 0px;
  width: 100px;
  height: 100px;
}


#piezas33BB{
  top: 400px;
  left: 100px;
  width: 100px;
  height: 100px;
}

#piezas11BB{
  top: 400px;
  left: 200px;
  width: 100px;
  height: 100px;
} 

#piezas33AA{
  top: 500px;
  left: 0px;
  width: 100px;
  height: 100px;
}


#piezas11CC{
  top: 500px;
  left: 100px;
  width: 100px;
  height: 100px;
}

#piezas22AA{
  top: 500px;
  left: 200px;
  width: 100px;
  height: 100px;
}

#piezas22BB{
  top: 600px;
  left: 0px;
  width: 100px;
  height: 100px;
}

#piezas11AA{
  top: 600px;
  left: 100px;
  width: 100px;
  height: 100px;
}

#piezas22CC{
  top: 600px;
  left: 200px;
  width: 100px;
  height: 100px;
}


.boton{
  display: none;
  font-family: helvetica-bold;
  font-size: 50px;
  top: 400px;
  left: 15px;
  position: absolute;
}

.reinicio{
  position: absolute;
  top: 340px;
  left: 120px;
  font-family: Helvetica-bold;
  font-size: 16px;
}

@media all and (max-width: 960px){

  .trans{
    width: 100%;
    margin-left: 20%; 
  }


#piezas1A,#piezas2A,#piezas3A,
#piezas1B,#piezas2B,#piezas3B,
#piezas1C,#piezas2C,#piezas3C {

  display: flex;
  }

@media all and (max-width: 480px){

  .trans{
    width: 20px;
    margin-left: 17%;
}
 }
